<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
     http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
     http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
     http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
     http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd">

	 
	<!-- scheduled task -->
	<bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
				<ref bean="cronTrigger" />
				<ref bean="simpleTrigger" />
			</list>
		</property>
	</bean>
	<bean id="jobDetail"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="taskBo" />
		<property name="targetMethod" value="check" />
		<property name="concurrent" value="false" />
	</bean>
	<bean id="cronTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail" ref="jobDetail" />
		<property name="cronExpression" value="0 0 15 * * ?" />
	</bean>
	<bean id="simpleTrigger" class="org.springframework.scheduling.quartz.SimpleTriggerBean">
		<property name="jobDetail" ref="jobDetail" />
		<property name="startDelay" value="10000" />
		<property name="repeatInterval" value="60000" />
	</bean>
	
	
	<!--
		<bean id="mailSender"
		class="org.springframework.mail.javamail.JavaMailSenderImpl">
		<property name="host" value="smtp.gmail.com" /> <property name="port"
		value="465" /> <property name="protocol" value="smtps" /> <property
		name="username" value="shenzhijie1979@gmail.com" /> <property
		name="password" value="tianqi" /> <property name="javaMailProperties">
		<props> <prop key="mail.smtps.auth">true</prop> <prop
		key="mail.smtps.starttls.enable">true</prop> <prop
		key="mail.smtps.debug">true</prop> </props> </property> </bean> <bean
		id="mailMessage" class="org.springframework.mail.SimpleMailMessage">
		<property name="from" value="yourAccount@gmail.com" /> <property
		name="subject" value="Your Subject" /> </bean>
	-->
</beans>